/* ===============================
   VARIABLES
================================ */
:root {
    --bg-main: #050b12;
    --card-bg: #0b1629;
    --card-hover: #0f1f3d;
    --primary: #cb81cb;
    --text-main: #ffffff;
    --text-muted: #9aa4b2;
    --shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    --glow: 0 0 25px rgba(224, 143, 240, 0.35);
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("../img/logo2.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 420px;
    opacity: 0.035; 
    pointer-events: none;
    z-index: -1;
}



/* ===============================
   RESET
================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg-main);
    color: var(--text-main);
    line-height: 1.7;
}