/* ===============================
   NAVBAR
================================ */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(5, 11, 18, 0.9);
    backdrop-filter: blur(12px);
    z-index: 1000;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.logo img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    border-radius: 8px; /* opcional */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.8rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-muted);
    font-size: 0.95rem;
}

.nav-links a:hover {
    color: var(--primary);
}


/* ===============================
   FOOTER
================================ */

.footer {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    background-color: var(--bg-dark);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.footer-link {
    font-size: 0.9rem;
    color: var(--text-muted);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.footer-link:hover {
    color: var(--primary);
}
