/* ===============================
   SECTIONS
================================ */
.section {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.section-title {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 3rem;
}

.section-title span {
    color: var(--primary);
}
